*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryLight: #43AFFF;
    --primaryDark: #303F60;
    --secondaryLight: #EDF6FF;
    --secondaryDark:#D9EFFF;
    --gray: #A9AFBC;
    --font: Helvetica Neue;
}

body{
    background: var(--secondaryDark);
    width: 100%;
    height: 100%;
}

.ceil{
    background: var(--primaryDark);
    width:100%;
    height: 300px;
}

.reset{
    position: absolute;
    width: 557px;
    background: #fff;
    border: 1px sloid #fff;
    border-radius: 10px;     
    padding: 30px;
    right: 0;
    left: 0;
    top: 20%;
    margin: auto;
}

.reset .header, .reset .des{
    font: normal bold 22px/27px Helvetica Neue;
    color: var(--primaryDark);
    margin-bottom: 20px;
}

.reset .des{
    font: normal normal normal 14px/20px Helvetica Neue;
}

label{
    font: normal bold 14px/16px Helvetica Neue;
    color: var(--primaryDark);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:5px;
}

.reset input{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    margin-bottom: 20px;
}

input:focus {
    outline: var(--primaryLight) !important;
    border: 2px solid var(--primaryLight);
}

.reset .submit{
    width: 100%;
    text-align: center;
}

.reset button{
    padding: 10px 30px;
    border: 2px solid var(--primaryLight);
    border-radius: 5px;
    background: var(--primaryLight);
    color: var(--secondaryLight);
    font: normal bold 16px var(--font);
    outline: none;
    cursor: pointer;
}